@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  @apply w-full cursor-pointer shadow text-sm px-8 py-3 rounded-lg border-solid border-2 font-bold hover:shadow-md  sm:mr-2 mb-1 ease-linear transition-all duration-150;
}
.btn-active-indigo {
  @apply bg-white text-indigo-700 border-indigo-700 active:text-white active:bg-indigo-700 hover:bg-indigo-100;
}
.btn-inactive-indigo {
  @apply bg-indigo-700 text-white border-indigo-700 active:text-indigo-700 active:bg-white hover:bg-indigo-600;
}
.btn-active-gray {
  @apply bg-white text-gray-700 border-gray-700 active:text-white active:bg-gray-700 hover:bg-gray-100;
}
.btn-inactive-gray {
  @apply bg-gray-700 text-white border-gray-700 active:text-gray-700 active:bg-white hover:bg-gray-600;
}
